<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mg.axe.androiddevelop">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".develop.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".develop.PingtuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".develop.ActivityA"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity
            android:name=".develop.TestVelocityActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".develop.MyTestGestureDetectorActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>
        <activity
            android:name=".develop.ActionMatchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


            <!--
            data  由两部分组成
            mineType 和 URI
            mineType 指媒体类型 例如: image/jpeg vided/* ...

            URl
            <scheme>://<host>:<port>/[<path>|<pathPrefix>|<pathPattern>]

            content://com.axe.mg:100/fold/subfolder/etc
            http://www.tapatalk.com:500/profile/info


            -->
        </activity>

        <activity
            android:name=".develop.SearchTestActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>

        <activity
            android:name=".develop.rxjava.RxjavaTestActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".develop.rxjava.RxJavaTestSchedulerActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".develop.rxjava.RxjavaTestChangeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".develop.okhttp.OkHttpTestActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".develop.okhttp.OKHTTPHightActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>